<div class="container m-5">
  <div class="row justify-content-center">
    <h1>URL Shortener</h1>
  </div>
  <div class="row justify-content-center">
    <i class="fas fa-link fa-9x"></i>
  </div>
  <div class="row justify-content-center mt-5">
    <input type="text" class="form-control" placeholder="Input URL Here" style="width: 60%;">
  </div>
  <form action="/success" class="row justify-content-center mt-5">
    <button class="btn btn-outline-dark">Shorten</button>
  </form>
</div>